<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <title>VForm Demo</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.7/theme-chalk/index.min.css">
    <link rel="stylesheet" href="https://ks3-cn-beijing.ksyun.com/vform2021/VFormRender.css?t=20210720">
    <style type="text/css">
    </style>
</head>
<body>

<div id="app">
    <v-form-render :form-json="formJson" :form-data="formData" :option-data="optionData" ref="vFormRef">
    </v-form-render>
    <el-button type="primary" @click="submitForm">Submit</el-button>
</div>

<script type="text/javascript">
    if (!!window.ActiveXObject || "ActiveXObject" in window) { //IE load polyfill.js for Promise
        var scriptEle = document.createElement("script");
        scriptEle.type = "text/javascript";
        scriptEle.src = "https://cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"
        document.body.appendChild(scriptEle)
    }
</script>
<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/2.6.14/vue.min.js"></script>
<script src="https://cdn.staticfile.org/element-ui/2.15.7/index.min.js"></script>
<script src="https://ks3-cn-beijing.ksyun.com/vform2021/VFormRender.umd.min.js?t=20210720"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            formJson: {
                "widgetList": [{
                    "type": "static-text",
                    "icon": "static-text",
                    "formItemFlag": false,
                    "options": {
                        "name": "statictext111193",
                        "columnWidth": "200px",
                        "hidden": false,
                        "textContent": "单列表单",
                        "customClass": [],
                        "onCreated": "",
                        "onMounted": "",
                        "label": "static-text"
                    },
                    "id": "statictext111193"
                }, {
                    "type": "divider",
                    "icon": "divider",
                    "formItemFlag": false,
                    "options": {
                        "name": "divider102346",
                        "label": "",
                        "columnWidth": "200px",
                        "direction": "horizontal",
                        "contentPosition": "center",
                        "hidden": false,
                        "customClass": [],
                        "onCreated": "",
                        "onMounted": ""
                    },
                    "id": "divider102346"
                }, {
                    "type": "input",
                    "icon": "text-field",
                    "formItemFlag": true,
                    "options": {
                        "name": "name",
                        "label": "名称",
                        "labelAlign": "",
                        "type": "text",
                        "defaultValue": "",
                        "placeholder": "票据名称",
                        "columnWidth": "200px",
                        "size": "",
                        "labelWidth": null,
                        "labelHidden": false,
                        "readonly": false,
                        "disabled": false,
                        "hidden": false,
                        "clearable": true,
                        "showPassword": false,
                        "required": true,
                        "validation": "",
                        "validationHint": "",
                        "customClass": [],
                        "labelIconClass": null,
                        "labelIconPosition": "rear",
                        "labelTooltip": null,
                        "minLength": null,
                        "maxLength": null,
                        "showWordLimit": false,
                        "prefixIcon": "",
                        "suffixIcon": "",
                        "appendButton": false,
                        "appendButtonDisabled": false,
                        "buttonIcon": "el-icon-search",
                        "onCreated": "",
                        "onMounted": "",
                        "onInput": "",
                        "onChange": "",
                        "onFocus": "",
                        "onBlur": "",
                        "onValidate": "",
                        "requiredHint": ""
                    },
                    "id": "input12931"
                }, {
                    "type": "textarea",
                    "icon": "textarea-field",
                    "formItemFlag": true,
                    "options": {
                        "name": "summary",
                        "label": "简介",
                        "labelAlign": "",
                        "rows": 2,
                        "defaultValue": "",
                        "placeholder": "简单介绍",
                        "columnWidth": "200px",
                        "size": "",
                        "labelWidth": null,
                        "labelHidden": false,
                        "readonly": false,
                        "disabled": false,
                        "hidden": false,
                        "required": false,
                        "validation": "",
                        "validationHint": "",
                        "customClass": "",
                        "labelIconClass": null,
                        "labelIconPosition": "rear",
                        "labelTooltip": null,
                        "minLength": null,
                        "maxLength": null,
                        "showWordLimit": false,
                        "onCreated": "",
                        "onMounted": "",
                        "onInput": "",
                        "onChange": "",
                        "onFocus": "",
                        "onBlur": "",
                        "onValidate": ""
                    },
                    "id": "textarea21654"
                }, {
                    "type": "input",
                    "icon": "text-field",
                    "formItemFlag": true,
                    "options": {
                        "name": "purchasePlace",
                        "label": "购买地点",
                        "labelAlign": "",
                        "type": "text",
                        "defaultValue": "",
                        "placeholder": "购买地点",
                        "columnWidth": "200px",
                        "size": "",
                        "labelWidth": null,
                        "labelHidden": false,
                        "readonly": false,
                        "disabled": false,
                        "hidden": false,
                        "clearable": true,
                        "showPassword": false,
                        "required": false,
                        "validation": "",
                        "validationHint": "",
                        "customClass": "",
                        "labelIconClass": null,
                        "labelIconPosition": "rear",
                        "labelTooltip": null,
                        "minLength": null,
                        "maxLength": null,
                        "showWordLimit": false,
                        "prefixIcon": "",
                        "suffixIcon": "",
                        "appendButton": false,
                        "appendButtonDisabled": false,
                        "buttonIcon": "el-icon-search",
                        "onCreated": "",
                        "onMounted": "",
                        "onInput": "",
                        "onChange": "",
                        "onFocus": "",
                        "onBlur": "",
                        "onValidate": ""
                    },
                    "id": "input23031"
                }, {
                    "type": "date",
                    "icon": "date-field",
                    "formItemFlag": true,
                    "options": {
                        "name": "purchaseDate",
                        "label": "购买日期",
                        "labelAlign": "label-left-align",
                        "type": "date",
                        "defaultValue": null,
                        "placeholder": "购买日期",
                        "columnWidth": "200px",
                        "size": "",
                        "labelWidth": null,
                        "labelHidden": false,
                        "readonly": false,
                        "disabled": false,
                        "hidden": false,
                        "clearable": true,
                        "editable": false,
                        "format": "yyyy-MM-dd",
                        "valueFormat": "yyyy-MM-dd",
                        "required": true,
                        "requiredHint": "",
                        "validation": "",
                        "validationHint": "",
                        "customClass": "",
                        "labelIconClass": null,
                        "labelIconPosition": "rear",
                        "labelTooltip": null,
                        "onCreated": "",
                        "onMounted": "",
                        "onChange": "",
                        "onFocus": "",
                        "onBlur": "",
                        "onValidate": ""
                    },
                    "id": "date45202"
                }, {
                    "type": "time",
                    "icon": "time-field",
                    "formItemFlag": true,
                    "options": {
                        "name": "purchaseTime",
                        "label": "购买时间",
                        "labelAlign": "label-left-align",
                        "defaultValue": null,
                        "placeholder": "购买时间",
                        "columnWidth": "200px",
                        "size": "",
                        "labelWidth": null,
                        "labelHidden": false,
                        "readonly": false,
                        "disabled": false,
                        "hidden": false,
                        "clearable": true,
                        "editable": false,
                        "format": "HH:mm:ss",
                        "required": true,
                        "requiredHint": "",
                        "validation": "",
                        "validationHint": "",
                        "customClass": "",
                        "labelIconClass": null,
                        "labelIconPosition": "rear",
                        "labelTooltip": null,
                        "onCreated": "",
                        "onMounted": "",
                        "onChange": "",
                        "onFocus": "",
                        "onBlur": "",
                        "onValidate": ""
                    },
                    "id": "time55984"
                }, {
                    "type": "input",
                    "icon": "text-field",
                    "formItemFlag": true,
                    "options": {
                        "name": "price",
                        "label": "价格",
                        "labelAlign": "",
                        "type": "text",
                        "defaultValue": "",
                        "placeholder": "",
                        "columnWidth": "200px",
                        "size": "",
                        "labelWidth": null,
                        "labelHidden": false,
                        "readonly": false,
                        "disabled": false,
                        "hidden": false,
                        "clearable": true,
                        "showPassword": false,
                        "required": true,
                        "requiredHint": "",
                        "validation": "",
                        "validationHint": "",
                        "customClass": "",
                        "labelIconClass": null,
                        "labelIconPosition": "rear",
                        "labelTooltip": null,
                        "minLength": null,
                        "maxLength": null,
                        "showWordLimit": false,
                        "prefixIcon": "",
                        "suffixIcon": "",
                        "appendButton": false,
                        "appendButtonDisabled": false,
                        "buttonIcon": "el-icon-search",
                        "onCreated": "",
                        "onMounted": "",
                        "onInput": "",
                        "onChange": "",
                        "onFocus": "",
                        "onBlur": "",
                        "onValidate": ""
                    },
                    "id": "input111203"
                }, {
                    "type": "input",
                    "icon": "text-field",
                    "formItemFlag": true,
                    "options": {
                        "name": "expense",
                        "label": "实际支出",
                        "labelAlign": "",
                        "type": "text",
                        "defaultValue": "",
                        "placeholder": "",
                        "columnWidth": "200px",
                        "size": "",
                        "labelWidth": null,
                        "labelHidden": false,
                        "readonly": false,
                        "disabled": false,
                        "hidden": false,
                        "clearable": true,
                        "showPassword": false,
                        "required": false,
                        "requiredHint": "",
                        "validation": "",
                        "validationHint": "",
                        "customClass": "",
                        "labelIconClass": null,
                        "labelIconPosition": "rear",
                        "labelTooltip": null,
                        "minLength": null,
                        "maxLength": null,
                        "showWordLimit": false,
                        "prefixIcon": "",
                        "suffixIcon": "",
                        "appendButton": false,
                        "appendButtonDisabled": false,
                        "buttonIcon": "el-icon-search",
                        "onCreated": "",
                        "onMounted": "",
                        "onInput": "",
                        "onChange": "",
                        "onFocus": "",
                        "onBlur": "",
                        "onValidate": ""
                    },
                    "id": "input33736"
                }, {
                    "type": "select",
                    "icon": "select-field",
                    "formItemFlag": true,
                    "options": {
                        "name": "currency",
                        "label": "货币",
                        "labelAlign": "",
                        "defaultValue": "CNY",
                        "placeholder": "",
                        "columnWidth": "200px",
                        "size": "",
                        "labelWidth": null,
                        "labelHidden": false,
                        "disabled": false,
                        "hidden": false,
                        "clearable": true,
                        "filterable": true,
                        "allowCreate": false,
                        "remote": false,
                        "automaticDropdown": false,
                        "multiple": false,
                        "multipleLimit": 1,
                        "optionItems": [{"label": "CNY", "value": "CNY"}, {"label": "USD", "value": "USD"}],
                        "required": false,
                        "requiredHint": "",
                        "validation": "",
                        "validationHint": "",
                        "customClass": "",
                        "labelIconClass": null,
                        "labelIconPosition": "rear",
                        "labelTooltip": null,
                        "onCreated": "",
                        "onMounted": "",
                        "onRemoteQuery": "",
                        "onChange": "",
                        "onFocus": "",
                        "onBlur": "",
                        "onValidate": ""
                    },
                    "id": "select106882"
                }, {
                    "type": "select",
                    "icon": "select-field",
                    "formItemFlag": true,
                    "options": {
                        "name": "channel",
                        "label": "渠道方式",
                        "labelAlign": "",
                        "defaultValue": "SHOP",
                        "placeholder": "",
                        "columnWidth": "200px",
                        "size": "",
                        "labelWidth": null,
                        "labelHidden": false,
                        "disabled": false,
                        "hidden": false,
                        "clearable": true,
                        "filterable": false,
                        "allowCreate": false,
                        "remote": false,
                        "automaticDropdown": false,
                        "multiple": false,
                        "multipleLimit": 0,
                        "optionItems": [{"label": "店付", "value": "SHOP"}, {
                            "label": "拼多多",
                            "value": "PDD"
                        }, {"label": "淘宝", "value": "TB"}],
                        "required": false,
                        "requiredHint": "",
                        "validation": "",
                        "validationHint": "",
                        "customClass": "",
                        "labelIconClass": null,
                        "labelIconPosition": "rear",
                        "labelTooltip": null,
                        "onCreated": "",
                        "onMounted": "",
                        "onRemoteQuery": "",
                        "onChange": "",
                        "onFocus": "",
                        "onBlur": "",
                        "onValidate": ""
                    },
                    "id": "select68165"
                }, {
                    "type": "select",
                    "icon": "select-field",
                    "formItemFlag": true,
                    "options": {
                        "name": "payment",
                        "label": "支付方式",
                        "labelAlign": "",
                        "defaultValue": "WX",
                        "placeholder": "",
                        "columnWidth": "200px",
                        "size": "",
                        "labelWidth": null,
                        "labelHidden": false,
                        "disabled": false,
                        "hidden": false,
                        "clearable": true,
                        "filterable": false,
                        "allowCreate": false,
                        "remote": false,
                        "automaticDropdown": false,
                        "multiple": false,
                        "multipleLimit": 0,
                        "optionItems": [{"label": "微信支付", "value": "WX"}, {"label": "花呗", "value": "HuaBei"}],
                        "required": false,
                        "requiredHint": "",
                        "validation": "",
                        "validationHint": "",
                        "customClass": "",
                        "labelIconClass": null,
                        "labelIconPosition": "rear",
                        "labelTooltip": null,
                        "onCreated": "",
                        "onMounted": "",
                        "onRemoteQuery": "",
                        "onChange": "",
                        "onFocus": "",
                        "onBlur": "",
                        "onValidate": ""
                    },
                    "id": "select93001"
                }, {
                    "type": "select",
                    "icon": "select-field",
                    "formItemFlag": true,
                    "options": {
                        "name": "transfer",
                        "label": "付款方式",
                        "labelAlign": "",
                        "defaultValue": "PRE",
                        "placeholder": "",
                        "columnWidth": "200px",
                        "size": "",
                        "labelWidth": null,
                        "labelHidden": false,
                        "disabled": false,
                        "hidden": false,
                        "clearable": true,
                        "filterable": false,
                        "allowCreate": false,
                        "remote": false,
                        "automaticDropdown": false,
                        "multiple": false,
                        "multipleLimit": 0,
                        "optionItems": [{"label": "预付款", "value": "PRE"}, {"label": "直接付款", "value": "PAY"}],
                        "required": false,
                        "requiredHint": "",
                        "validation": "",
                        "validationHint": "",
                        "customClass": "",
                        "labelIconClass": null,
                        "labelIconPosition": "rear",
                        "labelTooltip": null,
                        "onCreated": "",
                        "onMounted": "",
                        "onRemoteQuery": "",
                        "onChange": "",
                        "onFocus": "",
                        "onBlur": "",
                        "onValidate": ""
                    },
                    "id": "select32653"
                }, {
                    "type": "divider",
                    "icon": "divider",
                    "formItemFlag": false,
                    "options": {
                        "name": "divider75887",
                        "label": "",
                        "columnWidth": "200px",
                        "direction": "horizontal",
                        "contentPosition": "center",
                        "hidden": false,
                        "customClass": [],
                        "onCreated": "",
                        "onMounted": ""
                    },
                    "id": "divider75887"
                }],
                "formConfig": {
                    "modelName": "formData",
                    "refName": "vForm",
                    "rulesName": "rules",
                    "labelWidth": 150,
                    "labelPosition": "left",
                    "size": "",
                    "labelAlign": "label-left-align",
                    "cssCode": "",
                    "customClass": [],
                    "functions": "",
                    "layoutType": "PC",
                    "onFormCreated": "",
                    "onFormMounted": "",
                    "onFormDataChange": ""
                }
            },
            formData: {},
            optionData: {}
        },
        methods: {
            submitForm: function () {
                this.$refs.vFormRef.getFormData().then(function (formData) {
                    // Form Validation OK
                    alert(JSON.stringify(formData))
                }).catch(function (error) {
                    // Form Validation Failed
                    alert(error)
                })
            }
        }
    });
</script>
</body>
</html>